<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">


  <title>{% block title %} {% endblock %}</title>
  {% block jsScripts %} {% endblock %}

</head>

<body>
<!-- Setting the root of the application. See https://flask.palletsprojects.com/en/2.0.x/patterns/jquery/ -->
<script>$SCRIPT_ROOT = {{ request.script_root|tojson }};</script>

<!-- Optional JavaScript -->
<!-- jQuery first (use 3.2.1), Popper then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous">
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous">
</script>



  <!-- The main container for GUI elements -->
<div class="container p-3 my-5 bg-dark text-white">
  {% block content %} {% endblock %}

  <!-- The two logos at the bottom. Remember that with Flask the img should be in the "static" folder -->
  <br/><br/><br/><br/>
  <img src="{{url_for('static', filename='img/Ev5G_Logo.png')}}" class="rounded float-start"
       alt="Evolved-5G logo" style="width:100px;height:50px;">
  <img src="{{url_for('static', filename='img/Immersion_Logo2022.png')}}" class="rounded float-end"
       alt="IMM logo" style="width:150px;height:50px;">
  <br/><br/>

</div>


</body>
</html>