{% extends 'base.html' %}

{% block title %} IMM NetApp {% endblock %}

{% block content %}
<blockquote class="blockquote text-center">
    <h1>Debug page</h1>
    <br/>
    <br/>
    <p>Feel free to test all kinds of things here. </p>
    <br/>
    <a href=/ ><button type="button" class="btn btn-primary w-25">Back to home page</button></a>

    <br/>
    <br/>

    <script>
            $(function() {
                $('a#calculate').bind('click', function() {
                $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
                    a: $('input[name="a"]').val(),
                    b: $('input[name="b"]').val()
                }, function(data) {
                 $("#result").text(data.result);
                 });
                return false;
                });
            });
    </script>
    <h1>jQuery Example</h1>
    <p><input type=text size=5 name=a> +
        <input type=text size=5 name=b> =
        <span id=result>?</span>
    <p><a href=# id=calculate>calculate server side</a>

</blockquote>
{% endblock %}