{% extends 'base.html' %}

{% block title %} IMM NetApp {% endblock %}

{% block content %}
<blockquote class="blockquote text-center">
    <h1>Welcome to the IMM Network App!</h1>

    <br/><br/>

    <!-- A button linking to another page. Set its width to XY% of the parent's width -->
    <a href=dashboard ><button type="button" class="btn btn-primary w-25">Start</button></a>
    <a href=debug ><button type="button" class="btn btn-primary w-25">Debug page</button></a>

    <br/><br/>

</blockquote>
{% endblock %}