{% extends 'base.html' %}

{% block title %} IMM NetApp {% endblock %}

{% block content %}
<blockquote class="blockquote text-center">
    <h1>Monitoring a QoS</h1>

    <br/><br/>
    <!--  First part: the summary of current network state  -->
    <p class="fw-bold">Current state of the 5G network: </p>
    <p class="fw-normal">None, please add a UE to monitor.</p>

    <br/><br/>

    <!-- Container for notification messages (toasts) -->
    <div class="toast-container position-fixed top-0 end-0 p-3">
        <!--  First possible toast: success  -->
        <div id="toastSuccess" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    Successfully added two monitored UEs.
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>

        <!-- Warning toast -->
        <div id="toastWarning" class="toast align-items-center text-bg-warning border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    Warning: at least one requested UE was already monitored.
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>

        <!-- Error toast -->
        <div id="toastError" class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    Error: could not perform action.
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>

    <br/>

    <!--  Second part: the monitored UEs -->
    <p class="fw-bold">Monitored UEs: </p>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <textarea class="form-control" id="monitoredUEsText" rows="6" placeholder="No UE is currently monitored"></textarea>
        </div>
        <div class="col-md-1"></div>
    </div>

    <br/><br/><br/>

    <p class="fw-bold">Manually added UE monitoring: </p>

    <div class="container p-2 bg-secondary text-white">
        <div class="row">
            <div class="col-1">
                <p class="fw-bold">UE</p>
            </div>
            <div class="col-2">
                <input id="ipv4" type="text" class="form-control" placeholder="IPv4 address" aria-label="IPv4" aria-describedby="basic-addon1">
            </div>
            <div class="col-2">
                <div class="form-check form-switch">
                    <label class="form-check-label" for="switchLocationUE1">Loc</label>
                    <input class="form-check-input" type="checkbox" role="switch" id="switchLocationUE1">
                </div>
            </div>
            <div class="col-2">
                <div class="form-check form-switch">
                    <label class="form-check-label" for="switchLocationUE1">QoS</label>
                    <input class="form-check-input" type="checkbox" role="switch" id="switchQosUE1">
                </div>
            </div>
            <div class="col">
                 <p>Current status: Not started</p>
            </div>
            <div class="col-1">
                <a href=# id=playUE1>
                    <img src="{{url_for('static', filename='img/Icon_Play.svg')}}" class="rounded mx-auto d-block"
                         alt="Play logo" style="width:28px;height:28px;">
                </a>
            </div>
            <div class="col-1">
                <img id=deleteUE1 src="{{url_for('static', filename='img/Icon_Delete_1.svg')}}" class="rounded mx-auto d-block"
                     alt="Delete logo" style="width:28px;height:28px;">
            </div>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col">
            <a href=# id=quickTestBtn><button type="button" class="btn btn-primary w-25">Quick test</button></a>
        </div>
        <div class="col">
            <div class="container p-2 bg-secondary text-white w-25">
                <img src="{{url_for('static', filename='img/Icon_Logs.svg')}}" class="rounded mx-auto d-block"
                    alt="Logs logo" style="width:28px;height:28px;">
            </div>
        </div>
    </div>




    <script>
            $(function() {
                $('a#playUE1').bind('click', function() {
                $.getJSON($SCRIPT_ROOT + '/_start_ue_monitoring', {
                    ue_num: $('input[name="ue_num"]').val(),
                    ipv4: $('input[name="ipv4"]').val(),
                    loc: $('input[name="switchLocationUE1"]').checked,
                    qos: $('input[name="switchQosUE1"]').checked,
                }, function(data) {
                 $("#result_play").text(data.result);
                 });
                return false;
                });
            });
    </script>


    <!-- Script to fill the monitoredUEs description on page load  -->
    <script>
         $( document ).ready(function(){
            $.getJSON($SCRIPT_ROOT + '/_get_monitored_ues', {
                }, function(data) {
                 $('#monitoredUEsText').val(data.result);
                 });
            return false;
        });
    </script>

        <!-- Script to add test UEs to monitor upon clicking on the "Quick test" button  -->
    <script>
            $(function() {
                $("a#quickTestBtn").bind('click', function(){
                $.getJSON($SCRIPT_ROOT + '/_add_test_ues', {
                }, function(data) {
                 $('#monitoredUEsText').val(data.ues);
                 const selectedToast = document.getElementById(data.result_type)
                 const toast = new bootstrap.Toast(selectedToast)
                 toast.show()
                 });
                return false;
                });
            });
    </script>



    <br/><br/>

</blockquote>
{% endblock %}